{% extends 'HamsterHubBundle::base.html.twig' %}

{% block title %}Mes vidéos{% endblock %}

{% block body %}
    <h3>Mes vidéos</h3>

    <table>
        {% for video in url %}
            <tr>
                <td colspan="2">
                    <h3>
                        <a href="/watch/{{ video.id }}">{{ video.title }}</a>
                    </h3>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/watch/{{ video.id }}">
                        <img src="http://img.youtube.com/vi/{{ video.url[32:43] }}/0.jpg" alt="{{ video.title }}"
                             class="thumbnail">
                    </a>
                </td>
                <td>
                    {{ video.description }}
                    <br>
                    <a href="/dashboard/{{ video.id }}/remove">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}