{% extends 'HamsterHubBundle::base.html.twig' %}

{% block title %}{{ video.title }}{% endblock %}

{% block body %}
    <h3>{{ video.title }}</h3>

    <h4>
        by <a href="/channel/{{ video.user }}">{{ video.user }}</a>
    </h4>

    <iframe src="https://www.youtube.com/embed/{{ video.url[32:43] }}" allowfullscreen></iframe>

    <div class="description">
        {{ video.description }}
    </div>

    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': video.id } %}
{% endblock %}